/* h3{
    color: black;
    text-align:center;
}

h4{
    color: black;
    text-align:center;
}


.selecteduppertext {
    background-color: #FF7345;
    vertical-align: middle;
    font-weight: 600;
    padding-top: 1.9vh;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    cursor: pointer; */
    /* box-shadow: 0 8px 16px 0 rgb(255 66 66 / 37%), 0 5px 10px 0 rgb(0 0 0 / 19%); */
    /* width: 311px;
    border:none;
    border-radius: 10px;
    
}

.usernames{
    padding: 10px 75px;
    border:orange;
    background-color: rgb(246 246 246);
    text-align: center;
    
}
.firstn{
    padding: 10px 75px;
    border:orange;
    background-color: rgb(246 246 246);
    text-align: center;
}
.lastn{
    padding: 10px 75px;
    border:orange;
    background-color: rgb(246 246 246);
    text-align: center;
}

.email{
    padding: 10px 75px;
    border:orange;
    background-color: rgb(246 246 246);
    text-align: center;

}

.password1{
    padding: 10px 75px;
    border:orange;
    background-color: rgb(246 246 246);
    text-align: center;

}

.password2{
    padding: 10px 75px;
    border:orange;
    background-color: rgb(246 246 246);
    text-align: center;


}
 .form{
    background-color: white;
    box-shadow:sienna;
    border-radius: 10px;
    width: 400px;
    height: 284px;
    margin:auto;
    justify-content: center;
    display: flex;  
      
} 
a:link {
    text-decoration: none;
    color: white;

  }
  
  a:visited {
    text-decoration: none;
  }

.unselecteduppertext {
    background-color: #ff744525;
    font-weight: 600;
    vertical-align: middle;
    padding-top: 1.9vh;
    font-family: 'Poppins', sans-serif;
    color: #FF7345;
    cursor: pointer;
    width: 311px;
    border: none;
    border-radius:10px;

}
.frame{
    background-color: rgb(246 246 246);
    box-shadow:sienna;
    border-radius: 10px;
    width: 400px;
    height: 284px;
    margin: auto;


}
.uppertextbox {
    text-align: center;
    vertical-align: middle;   
}

.row {
    text-align: center;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; 
    width: auto;  
    height: auto;  
    padding-top: 100px;  
    font-size: 10px;  
}

html, body * {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

body {
    margin: 0;
    padding: 0;
    background-color:  #495057;
    color: gold;
}
.box {
    color: white;
    border-color: yellow;
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:  #212529;
    text-align: center;
}
.box h1 {
    color: gold;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 2px 2px black;
    border-bottom: 1px solid black;
}
.box button[type = "submit"],
.box input[type = "text"],
.box input[type = "email"],
.box input[type = "password"],
.box button[type = "submit"] {
    color: white;
    border: 0;
    background: none;
    display: block; 
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    border: 2px solid #3498db;
    padding: 5px 25px;
    border-radius: 10px;
    transition: 0.25s;
    
}
.box button[type = "submit"]:hover {
    width: 280px;
    border-color: rgb(0, 238, 255);
}
.box input[type = "text"]:hover {
    width: 280px;
    border-color: rgb(0, 238, 255);
}
.box input[type = "email"]:hover {
    width: 280px;
    border-color: rgb(0, 238, 255);
}
.box input[type = "password"]:hover {
    width: 280px;
    border-color: rgb(0, 238, 255);
}
.box button {
   
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    /* text-decoration: none!important; */
    padding: 10px 25px;
    border-radius: 10px;
    transition: 0.25s;   
    
}
.box button a{
    text-decoration: none;
    color:white;
}
.box {
    box-shadow: 5px 7px rgb(12, 10, 10);
    border-color:white;
}
