<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <div class="box">
        <h3>SIGN IN</h3>
    <form action="/signin" method="post">
    {% csrf_token %}
        <label for=""></label>
        <input type="text" class="usernames" name="username" id="username" placeholder="ENTER USERNAME" required>
        <label for=""></label>
        <input type="password" class="password1" name="pass1" id="pass1" placeholder="ENTER PASSWORD" required>
        <button type="submit" class="col align-self-center selecteduppertext">Log In</button>
    </form>
    </div>    
</body>
</html>